.grid-container {
  margin: 0px;
}

.dashboard-card {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;

  margin: 0px;
  padding: 0px;
}

.chat li{
  display: block;
  list-style: none;
  text-align: left;
}

/deep/.mat-tab-label, /deep/.mat-tab-label-active {
  min-width: 0 !important;
  padding: 3px !important;
  margin: 3px !important;
  width: 40px;
}

.vid{
  height: 100%;
}


.dashboard-card-content {
  text-align: center;
  padding: 0px;
  margin: 0px;
  height: 100%;
}
