<div class="grid-container">
  <mat-grid-list cols="5" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <div class="vid" *ngIf="card.isVideoCard">
            <iframe width="100%" height="100%"  src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
          </div>
          <div class="chat" *ngIf="!card.isVideoCard">
            <h1>Chat</h1>
            <ul>
              
            <li *ngFor="let chat of chats">
              {{chat.sender}}: {{chat.message}}
            </li>
            </ul>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>