<div id="border">
        <h1>chat</h1>
          <div id="chatbox"></div>

<mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.background]="tile.color"
            class="textBox">
          <div class="input" *ngIf="tile.isInput">
            <mat-form-field class="example-full-width">
              <input matInput autocomplete="off" #message name="usermsg" placeholder="" type="text" id="usermsg" size="63" />
            </mat-form-field>
            <button mat-button name="submitmsg" type="submit" id="submitmsg" (click)="sendChat(message.value, this.chatId)">Send</button>
          </div>

            <div class="chatBox" *ngIf="!tile.isInput">
                    <ul>
                            <li *ngFor="let message of messages">
                             {{message.from}}: {{ message.message }}
                            </li>
                    </ul>
            </div>
        </mat-grid-tile>    
      </mat-grid-list>
</div>

