

.list a{
  float:left;
}

.list span {
  font: bold;
  color: white;
  font-size: 20px;
}

.title{
  margin-left:50px;
  float:left;
}

.me button{
  float:right !important;
  margin-left: 100px;
}

* {
  font-family: Consolas /*Replace with your custom font*/, sans-serif !important;
  /*Add the !important to overwrite all elements*/
}
